body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: gray;
}

#header{
    text-align: center;
    font-size: 5em;
    color: gray;
}

#links{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

a{
    text-decoration: none;
    color: gray;
    font-size: 2em;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(26, 25, 25);
    text-align: center;
}

a:hover{
    background-color: rgb(39, 39, 39);
}

/** INSERT TASK **/

form{
    display: grid;
    justify-content: center;
    align-items: center;
}

input{
    text-decoration: none;
    color: gray;
    font-size: 2em;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(26, 25, 25);
    text-align: center;
    margin: 0;
}


/** INSERT TASK **/

/** LOG **/

#log{
    display: grid;
    color: gray;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

#display{
    font-size: 3em;
    border: 4px solid gray;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.log-actions{
    display: flex;
    justify-content: center;
}

#name{
    text-align: center;
    font-size: x-large;
}

.clicked{
    color: black !important;
    background-color: gray; 
}

.fas{
    color: gray;border: 2px solid gray;border-radius: 5px;padding: 5px;margin-right: 10px;
}

.fas:hover{
    background-color: gray;
    color: black;
    cursor: pointer;
}

/** LOG **/

/** HISTORY **/

.chart_area{
    display: flex;
    justify-content: center;
}

.chart_actions_div{
    display: flex;
    justify-content: center;
}

.chart_action{
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: medium;
}

#chart{
    height: 300px !important;
}

.total_hours{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;;
}

li{
    margin: 30px 15px 30px 20px;
    padding: 0;
}

.scrollable-list{
    height: 250px;
    overflow-y: scroll;
    border: 1px solid gray;
    border-radius: 10px;
}

/** HISTORY **/