<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeLog</title>

    <!-- STYLE -->

        <link rel="stylesheet" href="../static/style/style.css">

    <!-- STYLE -->

    <!-- SCRIPT -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- SCRIPT -->
</head>
<body>
    
    <!-- HEADER -->

        <h1 id="header">TimeLog</h1>    

    <!-- HEADER -->

    <!-- ACTIONS -->

    <div class="chart_actions_div">
        <a class="chart_action{% if status == 'Daily'%} clicked{% endif %}" href="/daily" >DAILY</a>
        <a class="chart_action{% if status == 'Monthly'%} clicked{% endif %}" href="/monthly">Monthly</a>
        <a class="chart_action{% if status == 'Yearly'%} clicked{% endif %}" href="/yearly">Yearly</a>
    </div>

    <!-- ACTIONS -->

    <!-- TOTAL HOURS -->
    <div class="total_hours">Total Hours: {{ total_hours }}</div>
    <!-- TOTAL HOURS -->

    <div class="container">

      <!-- LIST -->

      <div class="scrollable-list">

        <ul>
          {% for task in tasks %}
          <li><a class="chart_action" href="/history/{{ task }}" >{{ task }}</a></li>
          {% endfor %}
        </ul>

      </div>

      <!-- LIST -->

      <!-- CHART -->

      <div class="chart_area">
          <canvas id="chart" width="100" height="100"></canvas>
      </div>

      <!-- CHART -->

    </div>

    <!-- SCRIPT -->

    <script>
        // Get the context of the canvas element we want to select
        var ctx = document.getElementById('chart').getContext('2d');
        
        // Define the data
        var data = {
          labels: {{ tasks|safe }},
          datasets: [{
            label: '{{status}} History',
            data: {{ time_history }},
            backgroundColor: {{ bg_colors|safe }},
            borderColor: {{ borders|safe }},
            borderWidth: 1
          }]
        };
        
        // Create the chart
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });

      </script>
      

    <!-- SCRIPT -->

</body>
</html>