<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeLog</title>

    <!-- STYLE -->

        <link rel="stylesheet" href="../static/style/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" /> 

    <!-- STYLE -->
</head>
<body>
    
    <!-- HEADER -->

        <h1 id="header">TimeLog</h1>    

    <!-- HEADER -->

    <!-- LOG -->

        <div id="log">

            <div id="title">Dummy Task</div>

            <div id="stopwatch">00:00:00</div>

            <div class="log-actions">
                <i class="fas fa-stop" id="btnStop" style="color: gray;border: 2px solid gray;border-radius: 5px;padding: 5px;margin-right: 5px;"></i>
                <i class="fas fa-play" id="btnPlay" style="color: gray;border: 2px solid gray;border-radius: 5px;padding: 5px;margin-right: 5px;"></i>
                <i class="fas fa-check" id="btnDone" style="color: gray;border: 2px solid gray;border-radius: 5px;padding: 5px;margin-right: 5px;"></i>
            </div>
            
        </div>

    <!-- LOG -->

</body>
</html>