<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeLog</title>

    <!-- STYLE -->

        <link rel="stylesheet" href="../static/style/style.css">

    <!-- STYLE -->
</head>
<body>
    
    <!-- HEADER -->

        <h1 id="header">TimeLog</h1>    

    <!-- HEADER -->

    <!-- FORM -->


        <form>

            <input type="text" placeholder="Enter Task Name..." name="name">

            <div id="links">

                <input type="submit" value="Insert Task">

            </div>

        </form>

    <!-- FORM -->

</body>
</html>